body {
  color: whitesmoke;
background-color: black;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: large;
}
a {
  color: black;
  background-color: hotpink;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: .5s;
}
a:hover {
  color: whitesmoke;
  background-color: rgb(77, 32, 54);
}
#nav-list {
  display: flex;
  justify-content: space-around;
}
span {
  color: black;
  background-color: hotpink;
  padding: 5px;
  font-weight: bold;
  transition-duration: .5s;
}
span:hover {
  color: whitesmoke;
  background-color: rgb(77, 32, 54);
}
footer {
  text-align: center;
  color: blueviolet;
  font-weight: bold;
}
button {
  background-color: rgba(87, 0, 128, 0.925);
  border: none;
  font-size: 28px;
  transition-property: color;
  transition-duration: .5s;
}
button:hover {
  color: whitesmoke
}
#contact {
  border:tomato 5px;
  border-style: solid;
}
#contact-form {
  font-family: Arial, Helvetica, sans-serif;
  border:blueviolet 5px;
  border-style: solid;
}
